.over_card_container {
    width: 100%;
    max-width: 1050px;
    height: 100%;
    max-height: 500px;
    margin:  auto;
    margin-top: 10px;
    padding-bottom: 85px;
    overflow-y: scroll;
    
}

.over_card_container::-webkit-scrollbar {
    background-color: rgba(187, 168, 134, 0.4);
    border-radius: 10px;
}

.over_card_container::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.card_container {
    width: 100%;
    max-width: 1024px;
    margin:  2px auto 5px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    background-color: white;
    border-radius: 10px;
    padding-top: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    
    box-shadow: 0px 2px 0px 4px rgb(194, 179, 153);
    transform: translateZ(-100px);
    perspective: 600px;
}

.pokedex__header {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

.pokedex__name {
    text-align: center;
    color: var(--color-red);
    font-size: 25px;
    margin-bottom: 2px;
    text-transform: capitalize;
}

.pokedex__welcome {
    text-align: center;
    color:rgb(73, 71, 71);
    font-size: 25px;
    margin-bottom: 10px;
}

.pokedex__img {
    display: block;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.pokedex__img img {
    display: block;
    max-width: 300px;
}

.handleinfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    margin: auto;
    gap: 1rem;
}

.browsers {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 1400px) {
    .over_card_container {
        max-height: 645px;
        margin-top: 10px;
        padding-bottom: 0;
    }
    
    .card_container {
        margin:  2px auto 5px auto;
        
    }
    
}

@media (min-width: 900px) and (max-width: 1400px) {
    .over_card_container {
        padding-bottom: 0;
    }

    .pokedex__img {
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
        padding-left: 0px;
    }

    .pokedex__welcome {
        margin-bottom: 10px;
    }
}

@media (min-width: 450px) {
    .pokedex__img {
        justify-content: flex-start;
        padding-left: 10px;
    }

    .browsers {
        padding-left: 10px;
        padding-right: 10px;
    }
}